{% extends 'base.html' %}

{% block content %}

    <h1>PROGRAM PASCASARJANA</h1>
    <h2>Terdiri dari prodi :</h2>
    <p>Magister Administrasi Publik	S2
        Magister Akuntansi	S2
        Magister Hukum	S2
        Magister Ilmu Pertanian	S2
        Magister Manajemen	S2
        Magister Pendidikan Bahasa Indonesia	S2
        Magister Pendidikan Matematika	S2
        Magister Teknologi Pendidikan	S2
        Magister Pendidikan Bahasa Inggris	S2
        Magister Ilmu Komunikasi	S2
        Magister Teknik Kimia	S2
        Doktor Pendidikan	S3</p>
    
{% endblock %}