{% extends 'base.html' %}

{% block content %}

    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <h2>Terdiri dari prodi :</h2>
    <p>Bimbingan Dan Konseling	S1
        Pendidikan Bahasa Indonesia	S1
        Pendidikan Bahasa Inggris	S1
        Pendidikan Biologi	S1
        Pendidikan Fisika	S1
        Pendidikan Guru Pendidikan Anak Usia Dini	S1
        Pendidikan Guru Sekolah Dasar	S1
        Pendidikan Ilmu Pengetahuan Alam	S1
        Pendidikan Khusus	S1
        Pendidikan Kimia	S1
        Pendidikan Matematika	S1
        Pendidikan Non Formal	S1
        Pendidikan Pancasila dan Kewarganegaraan	S1
        Pendidikan Sejarah	S1
        Pendidikan Seni Pertunjukan	S1
        Pendidikan Sosiologi	S1
        Pendidikan Vokasional Teknik Elektro	S1
        Pendidikan Vokasional Teknik Mesin	S1
        Pendidikan Profesi Guru	Profesi</p>
    
{% endblock %}