{% extends 'base.html' %}

{% load static %}

{% block content %}
<center>
    <h1>UNIVERSITAS SULTAN AGENG TIRTAYASA</h1>
    <img src="{% static 'img/untir.jpg' %}" alt="Logo Untirta" width="500px">
    <p> Universitas Sultan Ageng Tirtayasa dimulai dengan berdirinya Yayasan Pendidikan Tirtayasa pada tanggal 1 oktober 1980 berdasarkan Akte Notaris No: 1 Tahun 1980, kemudian dilakukan penyempurnaan dan dikukuhkan kembali dengan akte Notaris Ny. R.Arie Soetardjo, Nomor 1, Tanggal 3 Maret 1986.</p>
    <p>Pendirian Universitas Sultan Ageng Tritayasa diawali dengan didirikannya Yayasan Pendidikan Tritayasa pada 1 Oktober 1980. Yayasan tersebut mendirikan Sekolah Tinggi Ilmu Hukum (STIH) di tahun 1981 disusul Sekolah Tinggi Keguruan dan Ilmu Pendidikan (STKIP) tahun 1982 serta Sekolah Tinggi Teknik (STT). Ketiga pergruan tinggi tersebut kemudian bergabung menjadi Universitas Sultan Agung Tirtayasa melalui Surat Keputusan Medikbud di tahun 1984.

        Nama Tritayasa (yang memiliki arti Air Mengalir dalam Bahasa Sansekerta) sendiri berasal dari nama pahlawan nasional asal Banten, yaitu Sultan Ageng Tritayasa yang juga berperan penting dalam membawa kejayaan Kesultanan Banten. Selain itu, Universitas Sultan Ageng akhirnya berganti status dari perguruan tinggi swasta menjadi perguruan tinggi negeri sejak tahun 2001.</p>
        <p>Dengan kampus utama di Serang, kampus Fakultas Teknik yang berada di Cilegon dan Fakultas Keguruan yang berada di Ciwaru. Universitas Sultan Ageng Tirtayasa merupakan salah satu Perguruan Tinggi Negeri di Indonesia yang berada di Provinsi Banten. Universitas ini didirikan oleh orang-orang yang memiliki keinginan untuk memajukan dunia pendidikan di Banten. Selaku Perguruan tinggi, mahasiswa dan dosen juga akan melakukan penelitian-penelitian yang mengarah ke berbagai bidang untuk kemajuan bangsa Indonesia ke depannya.</p>
</center>


{% endblock %}